## PYTHON

## Introduction and basics

### 1.variables

In [3]:
var=2
i='vinay'

### 2.print function

In [5]:
var=2
print(var)

2

### 3.input from user

In [6]:
user_input=input('enter your name: ')

enter your name: vinay

### 4.Data types
| Data Types   |   Classes	  |       Description   |
| --- | --- | --- |
|1. Numeric	       |       int, float, complex	      |           holds numeric values |
|2. String	           |           str	                 |         holds sequence of characters|
|3. Sequence	       |         list, tuple, range	           |       holds collection of items|
|4. Mapping	       |               dict	               |           holds data in key-value pair form |
|5. Boolean	        |              bool	                |          holds either True or False|
|6. Set	             |       set, frozeenset	         |             hold collection of unique items |

#### Numeric

In [65]:
a=5
print(type(a))
b=2.3
print(type(b))
c=4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

#### String

In [67]:
name='Goutam'
type(name)

str

#### Sequence

In [68]:
list_1=[1,4,5,6]
type(list_1)

list

In [69]:
tuple_1=(1,3,4,5,6)
type(tuple_1)

tuple

### 5.Type conversion
#### Implict conversion-automatic type conversion: python converts smaller datatype to larger datatype to avoid data loss.
#### Explict conversion(Type casting) -manual type conversion: user converts data type to their required data type. it may causes data loss.

In [17]:
z=a+c
print(z)
type(z)

22.5

float

In [21]:
d='23'  #converting string to int through explict type conversion

In [22]:
e=int(d)

In [26]:
print(e)
type(e)

23

int

### First program

In [29]:
name=int(input('enter your name: '))
name2=str(name)
print(name2)
name

enter your name: 23
23

23

## Operators

1.Arithmetic Operators  ---   + , - , / , * , // , % , **

In [55]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

2.Relational Operators   -----  == , != , > , < , >= , <=

In [58]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

3.Bitwise Operators

1. & -  and 
2. | -  or
3. ^ -  xor
4. <<   left shift
5. .>>  right shift

True ---> 1
False ---> 0

XOR operator will return 1, if both bits are different.

If bits are same, it will return 0.

#### Right shift '>>' --> 4>>2 ---> 4/2**2   ## a>>b= a/2 **b
#### Left shift '<<' --> 3<<4 ---> 3*2**4   ## a<<b = a *2**b

4.Logical Operators  ---- AND , OR , NOT

In [64]:
# logical AND
print(True and True)     # True - When both operands are true
print(True and False)    # False

# logical OR
print(True or False)     # True  - When atleast one operand is true

# logical NOT
print(not True)          # False

True
False
True
False

5.Assignment Operators

1. =	Assignment Operator	a = 7
2. +=	Addition Assignment	a += 1          ## a = a + 1
3. -=	Subtraction Assignment	a -= 3      ## a = a - 3
4. *=	Multiplication Assignment	a *= 4  ## a = a * 4
5. /=	Division Assignment	a /= 3          ## a = a / 3
6. %=	Remainder Assignment	a %= 10     ## a = a % 10
7. **=	Exponent Assignment	a **= 10        ## a = a ** 10

In [63]:
# assign 10 to a
a = 10

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

15

7.Membership Operators  ---- in , not in

In [56]:
x = 'Hello world'
y = {1:'a', 2:'b'}

# check if 'H' is present in x string
print('H' in x)  # prints True

# check if 'hello' is present in x string
print('hello' not in x)  # prints True

# check if '1' key is present in y
print(1 in y)  # prints True

# check if 'a' key is present in y
print('a' in y)  # prints False

True
True
True
False

8.Identity Operators ---- is , is not

In [59]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False

False
True
False

### Conditional Statements

1. If
2. If Else
3. Else
4. Elif (else if)
5. Nested if
6. If Else Ternary Expression

In [90]:
a=10
b=12
if a>b:
    print('obeys')
else:
    print("doesn't obey")

doesn't obey

In [16]:
a=10
b=12
print('obeys') if a>b else print('not obey')

not obey

In [92]:
num=int(input('enter the number: '))
if num%2==0:
    print('is a even number..')
elif num%2 !=0:
    print('is a odd number.')
else:
    print('yegiri tanta nee yakka')

enter the number: 5
is a odd number.

In [3]:
a=10
b=10
if a>=b:
    if a>b:
        print('a is greater than b')
    else:
        print('equal to')
else:
    print("doesn't obey")

equal to

1. To print absolute value

-1 = 1
-2 = 2

In [11]:
n=int(input('enter the number: '))
if n<0:
    print(n*(-1))

enter the number: -4
4

#### Ternary operator

[option1] if [condition] else [option2]

 option1 is executed if condition is True else it prints option2

In [15]:
num=int(input('enter the number: '))
print('is even number') if num%2==0 else print('is a odd number')

enter the number: 5
is a odd number

### While Loop

1. While loop logic building
2. Series based Questions
3. Break
4. Continue
5. Nested While Loops
6. Pattern-Based Questions
7. pass
8. Loop else

initialize=
while condition:
    statement
    increment/decrement

In [311]:
i=1
while i<=20:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

wap to print following series
1  4  9  16  25  36  49  64  81  100

In [28]:
i=1
while i<=10:
    print(i**2)
    i+=1

1
4
9
16
25
36
49
64
81
100

In [30]:
i=1
while i<=10:
    print(i**2, end=' ')
    i+=1

1 4 9 16 25 36 49 64 81 100

wap to print 1/1  2/4  3/9  4/16  5/25  6/36  7/49  8/64  9/81  10/100

In [34]:
i=1
while i<=10:
    print(i,'/',i*i)
    i+=1

1 / 1
2 / 4
3 / 9
4 / 16
5 / 25
6 / 36
7 / 49
8 / 64
9 / 81
10 / 100

In [36]:
i=1
while i<=10:
    print(i,end='/')
    print(i*i, end= ' ')
    i+=1

1/1 2/4 3/9 4/16 5/25 6/36 7/49 8/64 9/81 10/100

In [44]:
i=1
while i<=10:
    print(i/i*i,end=' ')
    i+=1

1.0 2.0 3.0 4.0 5.0 6.0 7.0 8.0 9.0 10.0

wap to print 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

In [46]:
i=1
while i<=10:
    print(i,end='+')
    i+=1

1+2+3+4+5+6+7+8+9+10+

In [49]:
i=1
while i<=10:
    if i==10:
        print(i)
    else:
        print(i,end='+')
    i+=1

1+2+3+4+5+6+7+8+9+10

WAP to enter a number from user and print reverse of it

In [11]:
n = int(input("Enter a number: "))
while n>0:
    remainder=n%10
    print(remainder)
    n//=10

Enter a number: 234
4
3
2

In [64]:
234//10

23

In [57]:
n = int(input("Enter a number: "))

while n > 0:            # n = 153, 15, 1
    r = n % 10          # r = 3, 5, 1
    print(r,end='')    # 351
    n = n // 10         # n = 15, 1, 0

Enter a number: 234
432

WAP to enter a number from user and print sum of its individual digits

In [33]:
n = int(input("Enter a number: "))
sum_s=0
while n>0:                        #n = 124.. 12.. 1
    remainder=n%10                #remainder = 4.. 2.. 1
    sum_s=sum_s+remainder         #sum_S= 0+4.. 4+2.. 6+1
    n//=10                        #n= 124.. 12.. 0..
print(sum_s)

Enter a number: 124
7

reverse of a number

In [36]:
n=int(input('enter the number: '))
s=0
while n>0:
    r=n%10
    s=s*10+r
    n//=10
print('reverse: ',s)

enter the number: 124
reverse:  421

In [46]:
n=int(input('enter the number: '))
while n>0:
    r=n%10
    print(r,end='')
    n//=10

enter the number: 124
421

In [49]:
n=int(input('enter the number: '))
s=0
while n>0:
    r=n%10
    s=s*10+r
    n//=10
print(s)
print(s*2)

enter the number: 123
321
642

WAP to enter a number from user and check if it is pallindrome or not

In [86]:
n=int(input('enter the number: '))
n2=n
s=0
while n>0:
    r=n%10
    s=s*10+r
    n//=10
print(s)
print("'its a pallindrome'") if s==n2 else print('its not pallindrome')

enter the number: 12321
12321
'its a pallindrome'

WAP to enter a number from user and check if it is armstrong or not

In [121]:
n=int(input('enter the number: '))
n2=n
s=0
while n>0:
    r=n%10     #r= 4.. 2.. 1
    r=r**3
    s=s+r
    n//=10
print(s)
print("'its a Amstrong'") if s==n2 else print('its not Amstrong')

enter the number: 371
371
'its a Amstrong'

In [ ]:
124

In [ ]:
1**3 + 2**3 + 4**3

In [87]:
124%10

4

In [88]:
12%10

2

In [89]:
1%10

1

In [123]:
#reverse a number
n=int(input('enter the number: '))
while n>0:
    remainder=n%10
    print(remainder,end='')
    n//=10

enter the number: 123
321

In [128]:
#reverse a number #method2
n=int(input('enter the number: '))
sum_s=0
while n>0:
    remainder=n%10
    sum_s=sum_s*10+remainder
    n//=10
print(sum_s)

enter the number: 124
421

In [129]:
#sum of individual digits
n=int(input('enter the number: '))
sum_s=0
while n>0:
    remainder=n%10
    sum_s=sum_s+remainder
    n//=10
print(sum_s)

enter the number: 234
9

In [131]:
#pallindrome-- input is same as output-- 12321-12321
n=int(input('enter the number: '))
n2=n
sum_s=0
while n>0:
    remainder=n%10
    sum_s=sum_s*10+remainder
    n//=10
print(sum_s)
print('pallindrome') if sum_s==n2 else print('not a pallindrome')

enter the number: 12321
12321
pallindrome

In [89]:
#amstrong number-- input is same as cube of input-- 153~153
n=int(input('enter the number: '))
n2=n
sum_s=0
while n>0:
    remainder=n%10
    sum_s=sum_s+(remainder**3)
    n//=10
print(sum_s)
print('is a Amstrong number') if sum_s==n2 else print('not a Amstrong')

enter the number: 153
153
is a Amstrong number

WAP to enter a number from user and print its individual digits on seperate line

In [28]:
n=int(input('enter the number: '))
s=0
while n>0:
    remainder=n%10
    s=s*10+remainder
    n//=10
while s>0:
    remainder=s%10
    print(remainder)
    s//=10

enter the number: 254
2
5
4

WAP to enter a number from user and print its individual digits in character format

In [44]:
n=int(input('enter the number: '))
if n==1:
    print('One')
elif n==2:
    print('Two')
elif n==3:
    print('Three')
elif n==4:
    print('Four')
elif n==5:
    print('Five')

enter the number: 21

In [66]:
n=int(input('enter the number: '))
s=0
while n>0:
    r=n%10
    s=s*10+r
    n//=10
while s>0:
    r=s%10
    if r==1:
        print('One',r)
    elif r==2:
        print('Two',r)
    elif r==3:
        print('Three',r)
    elif r==4:
        print('Four',r)
    elif r==5:
        print('Five',r)
    s//=10

enter the number: 21
Two 2
One 1

WAP to enter a number from user and print factorial of it

In [5]:
n=int(input('enter the number: '))
i=1
while n>1:
    i=i*n
    n-=1   #n= 5.. 4.. 3.. 2.. 1..
print('factorial: ',i)

enter the number: 5
factorial:  120

In [6]:
n=int(input('enter the number: '))
i=1
while n>1:
    i=i*n
    n-=1
print(f)

enter the number: 5
120

#### Break

In [35]:
n=int(input('enter the number: '))
while n<=20:
    if n==5:
        print(n)
        break
    else:
        print(n)
    n+=1

enter the number: 1
1
2
3
4
5

#### Continue

In [43]:
n=1
while n<=20:
    n+=1
    if n%2==0:
        continue
    else:
        print(n)

3
5
7
9
11
13
15
17
19
21

WAP to enter a limit from user and print fibonacii series

0 1 1 2 3 5 8 13 21 34 55
a b c
  a b c
    a b c

In [59]:
n=int(input('enter limit: '))
a=0
b=1
i=1
while i<=n:
    print(a,end=' ')
    c=a+b
    a=b
    b=c
    i+=1

enter limit: 5
0 1 1 2 3

In [61]:
n=int(input('enter limit: '))
a=0
b=1
i=1
while n>=i:
    print(a,end=' ')
    c=a+b
    a=b
    b=c
    i+=1

enter limit: 6
0 1 1 2 3 5

#### Nested Loop

In [99]:
i=1
while i<=4:
    j=1
    while j<=5:
        print(i,end='')
        print(j,end=' ')
        j+=1
    print()
    i+=1

11 12 13 14 15
21 22 23 24 25
31 32 33 34 35
41 42 43 44 45

In [125]:
i=1
while i<=5:
    j=1
    while j<=i:
        print('*',end='')
        j+=1
    print()
    i+=1

*
**
***
****
*****

In [ ]:
i=1
while i<=5:
    j=1
    while j<=i:

### For Loop

#### Left half pyramid

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [63]:
for i in range(5):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

#### Downward Left half pyramid

In [41]:
for i in range(5):
    for j in range(i,5):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

#### Right half pyramid

In [88]:
for i in range(5):
    for j in range(i,5):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

#### Downward right half pyramid

In [75]:
for i in range(5):
    for j in range(i+1):
        print('',end=' ')
    for j in range(i,5):
        print('*',end='')
    print()

 *****
  ****
   ***
    **
     *

#### Whole pyramid

In [149]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [237]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [151]:
for i in range(5):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [244]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

#### Downward pyrmaid

In [171]:
for i in range(5):
    for j in range(i,5):
        print('*',end='')
    print()

*****
****
***
**
*

In [262]:
for i in range(5):
    for j in range(1,i+1):
        print(' ',end='')
    for j in range(i,5):
        print('*',end='')
    print()

*****
 ****
  ***
   **
    *

In [245]:
for i in range(5):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,5):
        print('*',end=' ')
    for j in range(i,5):
        print('*',end=' ')
    print()

  * * * * * * * * * *
    * * * * * * * *
      * * * * * *
        * * * *
          * *

### Diamond pyramid

In [281]:
for i in range(5):
    for j in range(i+1,5):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(4):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,4):
        print('*',end=' ')
    for j in range(i+1,4):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [296]:
for i in range(5):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,5):
        print('*',end=' ')
    for j in range(i+1,5):
        print('*',end=' ')
    print()
for i in range(5):
    for j in range(i+1,5):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [24]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end=' ')
        j+=1
    print()
    i+=1

*
* *
* * *
* * * *
* * * * *

In [216]:
i=1
while i<=5:
    j=1
    while j<=i:
        print('*',end=' ')
        j+=1
    print()
    i+=1

*
* *
* * *
* * * *
* * * * *

In [ ]:
  1 2 3 4 5 6
1
2
3
4
5
6

In [180]:
j=1
while j<=5:
    print(j)
    j+=1

1
2
3
4
5

In [223]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [291]:
for i in range(0,5):
    for j in range(1,6):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [320]:
num=6
rows=1
while rows<num:
    col=2
    while col<=rows:
        print(col,end=' ')
        col+=1
    print(rows)
    rows+=1

1
2 2
2 3 3
2 3 4 4
2 3 4 5 5

In [84]:
n=6
i=1
while n>i:
    spaces=''*(n-i)
    stars='* '*i
    print(spaces+stars)
    i+=1

*
* *
* * *
* * * *
* * * * *

In [8]:
n=6
i=0
while n>i:
    spaces=' '*i
    stars='*'*(n-i)
    print(spaces+stars)
    i+=1

******
 *****
  ****
   ***
    **
     *

In [118]:
n=10
i=1
while n>=i:
    if (i==1) or (i==n):
        print('*'*n)
    else:
        print('*'+(' '* (n-2))+'*')
    i+=1

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [94]:
n=6
i=1
while n>i:
    spaces=' '*i
    stars='* '*(n-i)
    print(spaces+stars)
    i+=1

 * * * * *
  * * * *
   * * *
    * *
     *

In [95]:
n=6
i=1
while n>i:
    stars='* '*i
    spaces=' '*(n-i)
    print(spaces+stars)
    i+=1

     *
    * *
   * * *
  * * * *
 * * * * *

In [209]:
n=8
i=1
while n>=i:
    j=1
    while n>=j:
        if i==n or j==1 or (i==j):
            print('*',end=' ')
        else:
            print('  ',end='')
        j+=1
    print()
    i+=1

*
* *
*   *
*     *
*       *
*         *
*           *
* * * * * * * *

In [ ]:
5*4*3*2*1

In [226]:
n=int(input())
i=1
while n>1:
    i=i*n
    n-=1
print(i)

5
120

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [12]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [14]:
n=5
for i in range(n):
    for j in range(n-i):
        print('*',end='')
    print()

*****
****
***
**
*

In [46]:
n=7
i=1
while n>=i:
    j=1
    while j<=n:
        if i==n or j==1 or i==j:
            print('*',end=' ')
        else:
            print('  ',end='')
        j+=1
    print()
    i+=1

*
* *
*   *
*     *
*       *
*         *
* * * * * * *

In [65]:
n=int(input('enter the number: '))
while n>0:
    r=n%10
    print(r)
    n//=10

enter the number: 1232
2
3
2
1

In [68]:
n=int(input('enter the number: '))
s=0
while n>0:
    r=n%10
    s=s+r
    n//=10
print(s)

enter the number: 143
8

In [70]:
n=int(input('enter the number: '))
n2=n
s=0
while n>0:
    r=n%10
    s=s*10+r
    n//=10
print(s)
print('its a pallindrome') if s==n2 else print('its not a pallindrome')

enter the number: 12421
12421
its a pallindrome

In [81]:
n=int(input('enter the number: '))
n2=n
s=0
while n>0:
    r=n%10
    s=s+r**3
    n//=10
print(s)
print('its a amstrong') if s==n2 else print('its not a Amstrong')

enter the number: 8208
1032
its not a Amstrong

In [74]:
1634%10

4

In [75]:
1634//10

163

In [76]:
163%10

3

In [77]:
16%10

6

In [78]:
1%10

1

In [79]:
4**3+3**3+6**3+1**3

308

### Lists

In [1]:
lst=[1,2,3,4,5]

In [2]:
type(lst)

list

In [3]:
sum(lst)

15

In [4]:
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
lst.append(6)

In [6]:
lst

[1, 2, 3, 4, 5, 6]

In [7]:
lst.append([7,8])

In [8]:
lst

[1, 2, 3, 4, 5, 6, [7, 8]]

In [10]:
lst.extend([8,9])

In [11]:
lst

[1, 2, 3, 4, 5, 6, [7, 8], 8, 9]

In [13]:
lst.index(5)

4

In [14]:
lst.insert(4,4)

In [15]:
lst

[1, 2, 3, 4, 4, 5, 6, [7, 8], 8, 9]

In [16]:
lst.pop(4)

4

In [17]:
lst

[1, 2, 3, 4, 5, 6, [7, 8], 8, 9]

In [18]:
lst.reverse()

In [19]:
lst

[9, 8, [7, 8], 6, 5, 4, 3, 2, 1]

In [20]:
lst[::-1]

[1, 2, 3, 4, 5, 6, [7, 8], 8, 9]

In [21]:
lst[2:5]

[[7, 8], 6, 5]

In [23]:
lst.remove([7,8])

In [24]:
lst

[9, 8, 6, 5, 4, 3, 2, 1]

In [25]:
lst.sort()

In [26]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [27]:
lst.count(5)

1

### Sets

1. Unordered and Unindexed

2. sets are mutable

In [4]:
sets={12,13,14,15,16}

In [80]:
type(sets)

set

In [81]:
sets

{12, 13, 14, 15, 16}

In [82]:
sets.add(17)

In [83]:
sets

{12, 13, 14, 15, 16, 17}

#### Set operations: 
mutable,unordered,has no duplicates

1. difference
2. difference_update
3. union
4. intersection

In [72]:
sets2={12,13,14,15,16,25,26}

In [58]:
sets2.difference(sets)

{25, 26}

In [59]:
sets2

{12, 13, 14, 15, 16, 25, 26}

In [60]:
sets2.difference_update(sets)

In [61]:
sets2

{25, 26}

In [62]:
sets

{12, 13, 14, 15, 16, 17}

In [64]:
sets.union(sets2)

{12, 13, 14, 15, 16, 17, 25, 26}

In [67]:
sets.intersection(sets2)

{12, 13, 14, 15, 16}

In [68]:
sets

{12, 13, 14, 15, 16, 17}

In [69]:
sets.intersection_update(sets2)

In [70]:
sets

{12, 13, 14, 15, 16}

In [73]:
sets | sets2

{12, 13, 14, 15, 16, 25, 26}

In [74]:
sets^sets2

{25, 26}

In [75]:
sets & sets2

{12, 13, 14, 15, 16}

In [76]:
sets.clear()

In [77]:
sets

set()

In [84]:
sets

{12, 13, 14, 15, 16, 17}

In [85]:
sets.remove(14)

In [86]:
sets

{12, 13, 15, 16, 17}

In [87]:
sets3={'strs','vinay',12,19}

In [89]:
sets3

{12, 19, 'strs', 'vinay'}

#### Frozen set
1. frozen sets are immutable sets

In [1]:
f=frozenset([23,25,27])

In [2]:
f

frozenset({23, 25, 27})

In [5]:
f|sets

frozenset({12, 13, 14, 15, 16, 23, 25, 27})

In [6]:
sets

{12, 13, 14, 15, 16}

### Dictionaries
unordered,changable and indexed.. have key value pairs

In [94]:
dict={'a':'vinay','b':'teja','c':'sujith'}

In [95]:
type(dict)

dict

In [99]:
dict['a']='kumar'

In [100]:
dict

{'a': 'kumar', 'b': 'teja', 'c': 'sujith'}

In [106]:
for i in dict.keys():
    print(i)

a
b
c

In [107]:
for i in dict.values():
    print(i)

kumar
teja
sujith

In [108]:
for i in dict.items():
    print(i)

('a', 'kumar')
('b', 'teja')
('c', 'sujith')

#### Nested dictionary

In [110]:
car1={'bmw':1920}
car2={'audi':1922}
car3={'benz':1890}

In [113]:
cars={'car_model':car1,'car_model2':car2,'car_model3':car3}

In [114]:
cars

{'car_model': {'bmw': 1920},
 'car_model2': {'audi': 1922},
 'car_model3': {'benz': 1890}}

In [118]:
cars['car_model2']

{'audi': 1922}

In [119]:
cars['car_model3']['benz']

1890

### Tuples
mutable and ordered, allows duplicates

In [121]:
tup=(30,31,32,33,34)

In [122]:
type(tup)

tuple

In [124]:
tup[0]

30

In [125]:
tup.count(31)

1

In [126]:
tup.index(34)

4

In [127]:
tup=(30,35,32,33,34)

In [128]:
tup

(30, 35, 32, 33, 34)

### Functions

In [22]:
def func(num):
    print(num**2)

In [23]:
func(20)

400

In [29]:
def even_num(n):
    if n%2==0:
        print('is even number')
    else:
        print('not a even number')

In [30]:
even_num(12)

is even number

#### assigning output to another variable can be done by using return statement

In [31]:
def func(num):
    return num**2

In [33]:
value=func(24)

In [34]:
value

576

In [41]:
def sum_num(n1,n2):
    return n1+n2

In [42]:
val=sum_num(1,4)

In [43]:
val

5

In [55]:
def stu_name(name,age=26):
    print('my name is {} of age {}'.format(name,age))

In [56]:
stu_name('vinay')

my name is vinay of age 26

In [58]:
def stu_name(name='vinay',age=26):
    print('my name is {} of age {}'.format(name,age))

In [59]:
stu_name()

my name is vinay of age 26

In [61]:
def stu_name(name,age=26):
    print('my name is {} of age {}'.format(name,age))

In [62]:
stu_name()

TypeError: stu_name() missing 1 required positional argument: 'name'

parameters in function is positional argument..
& parameter which specified by default is keyword argument

In [67]:
def func(*arg,**kwarg):
    print(arg)
    print(kwarg)

In [79]:
func('vinay','kumar',age=25,dob=1998)

('vinay', 'kumar')
{'age': 25, 'dob': 1998}

In [80]:
tup=('vinay', 'kumar')
dict={'age': 25, 'dob': 1998}

In [83]:
func(tup,dict)

(('vinay', 'kumar'), {'age': 25, 'dob': 1998})
{}

In [84]:
func(*tup,**dict)

('vinay', 'kumar')
{'age': 25, 'dob': 1998}

In [91]:
lst=[1,7,4,5,12,18,8]

In [92]:
def even_odd(lst):
    even_num=0
    odd_num=0
    for i in lst:
        if i%2==0:
            even_num+=i
        else:
            odd_num+=i
    return even_num,odd_num

In [93]:
even_odd(lst)

(42, 13)

### Recursion- calculates backwards

calling a function within a same function
- function creation
- function calling

In [1]:
def my_func():
    print('vinay')
    my_func()
my_func()

vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay
vinay

RecursionError: maximum recursion depth exceeded while calling a Python object

- base condition
- function should have parameters and return

base condition

In [ ]:
#sum of n natural numbers using recursion.

n=int(input('enter n value: '))
answer=my_func(n)
print(answer)

In [2]:
#base condition
def my_func(n):
    if n == 0:
        return 0 #where function has to end from loop
    return my_func(n-1)+n  #my_func(10-1)+10
                           #my_func(9-1)+10
                           #my_func(8-1)+9

In [3]:
def func(n):
    if n==0:
        return 0
    return func(n-1)+n

In [4]:
n=int(input('enter the number: '))
func(n)

enter the number: 10

55

#### Lambda functions
Anonymous function- function having no name,, works faster than a normal function
1. can be used there is single expression

In [94]:
def sum_num(n1,n2):
    return n1+n2

In [95]:
sum_num(12,14)

26

In [96]:
lambda n1,n2:n+n2

In [102]:
var=lambda n1,n2:n+n2

In [103]:
var(12,14)

18

### Map function
#### used for iterating list to function
2. it uses lazy loading technic.in order to initate convert it to list

In [151]:
def even_num(n):
    if n%2==0:
        return 'is even number'
    else:
        return 'not a even number'

In [152]:
lst

[1, 7, 4, 5, 12, 18, 8]

In [154]:
a=list(map(even_num,lst))

In [155]:
a

['not a even number',
 'not a even number',
 'is even number',
 'not a even number',
 'is even number',
 'is even number',
 'is even number']

### Filter function

In [179]:
def even_num(n):
    if n%2==0:
        return n

In [180]:
lst

[1, 7, 4, 5, 12, 18, 8]

In [181]:
list(filter(even_num,lst))

[4, 12, 18, 8]

Basic difference between map and filter

In [182]:
list(filter(lambda n:n%2==0,lst))

[4, 12, 18, 8]

In [183]:
list(map(lambda n:n%2==0,lst))

[False, False, True, False, True, True, True]

### List Comprehension

provides concise way to create lists.It consists of brackets containing an expression
 followed by a for clause,then zero or more for or if clauses.you can all kinds of obejcts in a list

In [185]:
lst1=[]
def lst_sq(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [191]:
lst_sq([1,2,3])

[1, 4, 9]

In [193]:
lst

[1, 7, 4, 5, 12, 18, 8]

In [194]:
new_lst=[i*i for i in lst]

In [195]:
new_lst

[1, 49, 16, 25, 144, 324, 64]

In [197]:
[i*i for i in lst if i%2==0]

[16, 144, 324, 64]

### String Formatting

In [199]:
print('hello world')

hello world

In [204]:
def greeting(name):
    return 'hello {},we are waiting for you'.format(name)

In [207]:
greeting('vinay')

'hello vinay,we are waiting for you'

In [215]:
def greet(name,age):
    return 'hi im {name} and my age is {age}'.format(name=name,age=age)

In [216]:
greet('vinay',26)

'hi im vinay and my age is 26'

### List Iterables vs Iterators

list is iterable n stores list in memory locations

In [12]:
lst=[1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

iteror- converts list into iterator..
1. it does not store in memory location unless and untill we call an inbuilt function next 
2. when we call next function then only first element present inside that iterator will be stored in memory location

In [13]:
lst

[1, 2, 3, 4, 5]

In [14]:
iter(lst)

In [15]:
list1=iter(lst)

In [17]:
next(list1)

2

In [20]:
for i in list1:
    print(i)

3
4
5

in case of iterables as soon as we assign list elements it gets stored in memory location but whereas in iterator it doesnot store elements in memory location unless and until we call next function

### Generators
generators are used in order to create iterator
1. yield- it returns all iterators

In [36]:
def squ(n):
    for i in range(n):
        print(i**2)

In [37]:
squ(3)

0
1
4

In [38]:
def squ(n):
    for i in range(n):
        return i**2

In [39]:
squ(3)

0

In [40]:
def squ(n):
    for i in range(n):
        yield i**2

In [42]:
gen=squ(3)

In [44]:
gen

In [45]:
next(gen)

0

In [46]:
next(gen)

1

Generator Vs iterator

|Iterator | Generator |
|--|--|
| calls by using iter function | calls by using function along with yield keyword |
|doesnot |helps to create fast and compact code|
|memory efficient  | not |
|common thing is iter with next keyword| -- |

relationship between generators and iterators:
- generator is also an iterator

### OOPS

### Class variables

this pass statement mean there is no particular attributes for that class car

In [48]:
class car:
    pass

In [51]:
car1=car()  #car1 is an object initializing to class car

In [57]:
car1.windows=4  ##windows,seats are attributes of object
car1.seats=5

In [53]:
print(car1.seats)

5

In [54]:
car2=car()

In [55]:
car2.windows=5
car2.seats=7

In [56]:
print(car2.seats)

7

In [58]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'seats',
 'windows']

constructor can be used in order to initailize howmany properities are getting used inside that particular class

self parameter is used to access attributes to object.

In [61]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat

In [62]:
car1=car(4,7)

In [64]:
car1.seats

7

In [65]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def self_driving(self,window,seat):
        return 'this car has {} seats'.format(self.seats)

In [67]:
car2=car(2,4)

In [69]:
car2.self_driving(2,4)

'this car has 4 seats'

In [78]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def self_driving(self):
        return 'this car has {} seats'.format(self.seats)

In [79]:
car2=car(4,6)

In [80]:
car2.self_driving()

'this car has 6 seats'

In [81]:
car2.seats

6

private, Public and protected access modifers

All the class variables are public

it can be over rided

In [1]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat

In [2]:
audi=car(2,2)

In [3]:
audi

In [14]:
audi.windows

2

In [15]:
audi.windows=4

In [16]:
audi.windows

4

In [4]:
dir(audi)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'seats',
 'windows']

All the class variables are protected

overriding can happen only from subclass or child class(inheriting that parent class)

it can be accessed only from sub classes.i.e., class inheriting another class then we can access variables

In [9]:
class car:
    def __init__(self,window,seat):
        self._windows=window
        self._seats=seat

In [10]:
bmw=car(4,5)

In [11]:
bmw

In [13]:
dir(bmw)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_seats',
 '_windows']

All the class variables are private

it cannot override and inherited or accessed from anywhere.

but python wont restrict from overiding,access,modifying but when seen in directries it say that it was private then it cannot accessed ,modified outside a specific class

In [18]:
class car:
    def __init__(self,window,seat):
        self.__windows=window
        self.__seats=seat

In [19]:
benz=car(2,3)

In [20]:
dir(benz)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_car__seats',
 '_car__windows']

### Inheritance

In [21]:
## all the class variables are public
##car blueprint
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def self_driving(self):
        return'this car has {} seats'.format(self.seats)

In [5]:
mini=car(2,4)

In [6]:
mini.self_driving()

'this car has 4 seats'

In [7]:
mini.seats

4

In [8]:
class mg(car):
    def __init__(self,window,seat,enginetype,enableai):
        #to inherit from parent class we use super()
        super().__init__(window,seat)
        self.enginetype=enginetype
        self.enableai=enableai
    def aidriven(self):
        return 'mg supports self driving'

In [9]:
mghector=mg(5,8,'diesel','yes')

In [10]:
mghector.aidriven()

'mg supports self driving'

In [11]:
mghector.enableai

'yes'

### Multiple inheritance

In [34]:
class cooper(car):
    def __init__(self,window,seat,enginemodel):
        #to inherit from parent class we use
        super().__init__(window,seat)
        self.enginemodel=enginemodel
    def aidriven(self):
        return 'mg supports self driving'

In [35]:
mini_cooper=cooper(2,4,'diesel')

In [36]:
mini_cooper.enginemodel

'diesel'

In [57]:
class mahindra(cooper,mg):
    def __init__(self,window,seat,enginemodel,enginetype,enableai,safety_rating):
        super().__init__(window,seat,enginemodel,enginetype,enableai)
        self.safety_rating=safety_rating
    def aidriven(self):
        return 'mg supports self driving'

In [61]:
xuv700=mahindra(4,6,'diesel','carce',1,3.5)

TypeError: __init__() takes 4 positional arguments but 6 were given

In [63]:
xuv700.aidriven()

'mg supports self driving'

In [9]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
class cooper(car):
    def __init__(self,window,seat,enginemodel):
        super().__init__(window,seat)
        self.enginemodel=enginemodel
    def drive(self):
        return 'drive car'
class mahindra(cooper,car):
    def __init__(self,window,seat,enginemodel,safety_rating):
        super().__init__(window,seat,enginemodel)
        self.safety_rating=safety_rating

In [10]:
xuv700=mahindra(4,7,'diesel',3.5)

In [11]:
xuv700.safety_rating

3.5

In [12]:
xuv700.drive()

'drive car'

### Magic Methods

In [28]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def self_driving(self):
        return'this car has {} seats'.format(self.seats)

In [29]:
mg=car(2,4)

In [30]:
print(mg)

<__main__.car object at 0x7fb06a1a0520>

In [15]:
dir(mg)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'seats',
 'self_driving',
 'windows']

In [31]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def __str__(self):   #magic method.. overrides __init__ constructor
        return 'pappulo kallesav'
    def self_driving(self):
        return'this car has {} seats'.format(self.seats)

In [32]:
mg=car(2,4)

In [33]:
print(mg)

pappulo kallesav

In [34]:
mg.__sizeof__()

32

In [35]:
class car:
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def __str__(self):   #magic method.. overrides __init__ constructor
        return 'pappulo kallesav'
    def __sizeof__(self):
        return 'marla pappe'
    def self_driving(self):
        return'this car has {} seats'.format(self.seats)

In [36]:
mini=car(4,5)

In [39]:
mini.__sizeof__()

'marla pappe'

In [40]:
mini.__str__()

'pappulo kallesav'

In [41]:
class car:
    def __new__(self,window,seat):
        print('object is getting started')
    def __init__(self,window,seat):
        self.windows=window
        self.seats=seat
    def __str__(self):   #magic method.. overrides __init__ constructor
        return 'pappulo kallesav'
    def __sizeof__(self):
        return 'marla pappe'
    def self_driving(self):
        return'this car has {} seats'.format(self.seats)

In [42]:
mini=car(4,5)

object is getting started

#### Polymorphism - one method in different ways- same function but handles different data
1. method overloading
2. method overriding

#### Method overloading - different parameters having same name

In [12]:
def add(a,b,c=0,d=0,e=0):  #default values
    sum= a+b+c+d+e
    print(sum)
add(1,2)
add(3,4,5)
add(1,2,3,4,5)

3
12
15

#### Method overriding - same name and same parameters

In [42]:
class father:
    def __init__(self,height=5.7,education='btech'):
        self.height=height
        self.education=education
    def height(self):
        print('height: ',height)
    def education(self):
        print('education: ',education)

In [62]:
class son(father):
    def __init__(self,height,education,job):
        father.__init__(self,height,education)
        self.height=height
        self.education=education
        self.job=job
    def height(self):
        print('height: ',height)
    def job(self):
        print('job: ',lastname)

In [55]:
Father=father()

In [56]:
Father.height

5.7

In [57]:
Father.education

'btech'

In [63]:
Son=son(5.6,'degree','sde')

In [64]:
Son.job

'sde'

In [65]:
Son.height

5.6

In [66]:
Son.education

'degree'

In [69]:
class A:
    def __init__(self,a,b):
        self.a=a
        self.b=b
obj=A(3,4)
print(obj)

<__main__.A object at 0x7fb91a33c940>

In [73]:
class A:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def __str__(self):#overrides with str to print parameters as we want
        return f'{self.a,self.b}'
obj=A(3,4)
print(obj)

(3, 4)

#### Operator overloading

In [74]:
print(1+2)
print(1<3)
print(3>1)

3
True
True

here compiler know how to evulate operator between two integers.

but incase of operator between two objects.it results as below.

so we use operator overloading to overcome this

In [76]:
class A:
    def __init__(self,a):
        self.a=a
obj=A(10)
obj1=A(20)
print(obj+obj1)

TypeError: unsupported operand type(s) for +: 'A' and 'A'

- '+' -- __add__
- '-' -- __sub__
- '*' -- __mul__
- '>' -- __gt__
- '<' -- __lt__

In [84]:
class A:
    def __init__(self,a):
        self.a=a
    def __add__(self,other):
        return self.a + other.a
obj=A(10)
obj1=A(20)
print(obj+obj1)

30

### Expection Handling

In [43]:
a=b

NameError: name 'b' is not defined

In [1]:
try:
    a=b
except Exception as ex:  #use exception to get exact error in error
    print(ex)

name 'b' is not defined

In [47]:
try:
    a=b
except: #customize own error message
    print('give a value to "b"')

give a value to "b"

In [49]:
try:
    a=b
except NameError as ex1:   #customize own error message
    #chances of getting this error we can use this
    print('give a value to "b"')
except Exception as ex: #if exceeds known errors use this
    print(ex)

give a value to "b"

In [50]:
try:
    n=12
    a=10
    i=n*a
except Exception as ex:
    print('inkosari chusuko..')
else:
    print(i)
finally:
    print('chala kastabaddav..')

120
chala kastabaddav..

### Custom Exception handling

In [3]:
class Error(Exception):    #common custom exception handling
    pass

class dobexception(Error):
    pass

In [4]:
year=int(input('enter the year: '))
age=2023-year
try:
    if age<=30 & age>=20:
        print('you are eligible.')
    else:
        raise dobexception
except dobexception:
    print('you are not eligible to apply')

enter the year: 1990
you are not eligible to apply

In [17]:
class Error(Exception):
    pass

class NameError(Error):
    pass
class Exception(NameError):
    pass

In [23]:
try:
    a=b
except:
    print('give a value to "b"')

give a value to "b"

In [2]:
try:
    a=b
except Exception as ex:
    print(ex)

name 'b' is not defined

#### Assert


python provides assert statement to check if a given logical expression is true or false.python execution proceeds only if the expression is true and raises the assertionerror when it is false. the following code shows the usage of the assert statement

In [75]:
10>=10

True

In [80]:
assert 10>=10  #expression is true so exceution proceeds

In [81]:
assert 10>10

AssertionError:

In [88]:
try:
    assert 10>10
except AssertionError:
    print('please correct it')

please correct it

#### Function copy

In [8]:
def func(a,b):
    add=a+b
    return add

In [10]:
new_func=func(2,3)

In [11]:
new_func

5

In [12]:
func(2,3)

5

In [13]:
new_func=func(2,3)
del func

In [14]:
new_func

5

In [15]:
func(2,3)

NameError: name 'func' is not defined

#### Closures
function inside a function

In closures,whatever variable we assign in parent function.we can access it to child function

In [24]:
def parent_func():
    msg='hello everyone'
    def child_func():
        print(msg,'"Please welcome"')
    return child_func()

In [25]:
parent_func()

hello everyone "Please welcome"

In [45]:
def parent_func(msg):
    print('hello everyone')
    def child_func():
        msg()
        print("Please welcome")
    return child_func()

In [46]:
parent_func(print)

hello everyone

Please welcome

### Decorators

Function accessing another function as a parameter.

In [58]:
##intital decorators
def parent_func(msg):
    def child_func():
        print('vinay')
        msg()
        print("Please welcome")
    return child_func()

In [59]:
parent_func(print)

vinay

Please welcome

In [60]:
def sub_func():
    print('alright')

In [61]:
parent_func(sub_func)

vinay
alright
Please welcome

In [70]:
##another method for decorators incase of having lot of functions
def parent_func(msg):
    def child_func():
        msg()
        print('vinay')
        print("Please welcome")
    return child_func()

In [71]:
def sub_func():
    print('alright')

In [72]:
@parent_func
def sub_func():
    print('alright')

alright
vinay
Please welcome

### Class methods and Class variables

#### Class methods

In [144]:
class car:
    base_price=10000
    def __init__(self,windows,doors,power):
        self.windows=windows
        self.doors=doors
        self.power=power
    def org_base_price(self):
        print('base price is {}'.format(self.base_price))

when we want update based on previous class variables. In order to do that we use class methods with decorators

when self as parameter we are referring instances(objects) of a class.

whenever cls as parameter then we are referring directly to class

In [215]:
class car:
    base_price=10000
    def __init__(self,windows,doors,power):
        self.windows=windows
        self.doors=doors
        self.power=power
    def org_base_price(self):
        print('base price is {}'.format(self.base_price))
    @classmethod
    def rev_base_price(cls,inflation):
        #whenever we define the class method we have to provide cls as parameter
        cls.rev_base_price=cls.base_price+cls.base_price*inflation

In [210]:
car.rev_base_price(0.10)

In [217]:
copper=car(4,4,'34bhp')

In [211]:
car.rev_base_price

11000.0

In [218]:
copper.rev_base_price

12000.0

we can also refer classmethods with instances of class but thats not a good practice in real world scenerios
so instead refer to class directly with cls parameter

#### Static methods

whenever we defining static methods we no need to assign self or cls as parameter.. mean instance parameter nor class parameter.we no need to provide any parameter.

as soon as class is loaded first thing that gets initialized is static method. and gets intialized only once. and cannot create multiple copies of static methods.

In [270]:
import datetime
now=datetime.datetime.now()

In [274]:
now.year

2023

In [313]:
class car:
    base_price=10000
    def __init__(self,windows,doors,power):
        self.windows=windows
        self.doors=doors
        self.power=power
    def org_base_price(self):
        print('base price is {}'.format(self.base_price))
    @classmethod
    def rev_base_price(cls,inflation):
        cls.base_price=cls.base_price+cls.base_price*inflation
    @staticmethod
    def check_year():
        if now.year==2023:
            return True
        else:
            return False

In [314]:
if car.check_year():
    pass
else:
    car.rev_base_price(0.15)

In [315]:
car.base_price

10000

### Boolean evulation "is vs =="

== -- comparsion in between

is -- same references or not(lst1 is stored in some memory location and lst2 takes that references of that lst1)

In [89]:
lst=['vinay',20,21,22]

In [90]:
lst

['vinay', 20, 21, 22]

In [91]:
lst2=[11,20,21,22]

In [92]:
lst2 is lst

False

In [93]:
lst2==lst

False

### =, shallow copy, deep copy

for both shallow copy and deep copy.. the data should be of collection and that should be mutable

= -- collection stores in same memory location.so when one collection modifies then other collection also changes.

shallowcopy -- collection stores in different memory locations.so when one collection modifies other collection wont changes. 

but incase of nested list shallow copy is not applicable.so we use deep copy

deep copy -- ollection stores in different memory locations.so when one collection modifies other collection wont changes. 


In normal list shallow is same as deep copy

but incase of nested list it varies

In [94]:
lst

['vinay', 20, 21, 22]

In [95]:
#
lst2=lst

In [96]:
lst2

['vinay', 20, 21, 22]

In [97]:
lst

['vinay', 20, 21, 22]

In [98]:
lst2,lst

(['vinay', 20, 21, 22], ['vinay', 20, 21, 22])

In [99]:
lst2[0]='kumar'

In [100]:
lst2

['kumar', 20, 21, 22]

In [101]:
lst

['kumar', 20, 21, 22]

here when modifying lst2 then lst also get changed.because both the lsts stored in same memory location when used '='

#### copy- kind of shallow copy

In [104]:
lst

['kumar', 20, 21, 22]

In [105]:
lst2=lst.copy()

In [106]:
lst2

['kumar', 20, 21, 22]

In [107]:
lst[0]='vinay'

In [108]:
lst,lst2

(['vinay', 20, 21, 22], ['kumar', 20, 21, 22])

both lists are having different memory location when used shallow copy

In [111]:
lst1=[[12,13,14,15],[16,17,18,19]]
lst2=[22,23,24,25]

In [116]:
lst3=lst1.copy()

In [113]:
lst1[0][2]=20

In [114]:
lst1

[[12, 13, 20, 15], [16, 17, 18, 19]]

In [117]:
lst3

[[12, 13, 20, 15], [16, 17, 18, 19]]

incase of nested lists shallow copy is not applicable.it works as =

so we use deep copy

In [119]:
lst1

[[12, 13, 20, 15], [16, 17, 18, 19]]

In [120]:
lst1.append([31,32,33,34])

In [121]:
lst1

[[12, 13, 20, 15], [16, 17, 18, 19], [31, 32, 33, 34]]

In [122]:
lst2

[22, 23, 24, 25]

In [123]:
import copy

In [125]:
lst2=copy.deepcopy(lst1)

In [126]:
lst2

[[12, 13, 20, 15], [16, 17, 18, 19], [31, 32, 33, 34]]

In [127]:
lst1[0][0]=72

In [128]:
lst1

[[72, 13, 20, 15], [16, 17, 18, 19], [31, 32, 33, 34]]

In [129]:
lst2

[[12, 13, 20, 15], [16, 17, 18, 19], [31, 32, 33, 34]]

### Eval Function
Eval function evaluates python expression which are written as strings.

#### how does Eval work:
If you pass in a string to eval() , then the function parses it, compiles it to bytecode, and evaluates it as a Python expression.

parse-taking a sentence and breaking it down into different parts of speech.

first parameter-python expression

second parameter-globals

third parameter-locals

In [317]:
eval('2+5')

7

In [318]:
eval(input('enter the expression: '))

enter the expression: sum([1,2,3,4,5])

15

In [319]:
def sq_num(num):
    return num**2

In [320]:
sq_num(3)

9

In [321]:
eval('sq_num(3)')

9

#### Global parameters

In [323]:
eval('x+x*5')

NameError: name 'x' is not defined

In [324]:
try:
    eval('x+x*5')
except Exception as ex:
    print(ex)

name 'x' is not defined

so to define x, we use global parameters

In [325]:
eval('x+x*5',{'x':10})

60

In [326]:
##another method
x=10
eval('x+x*5',{'x':x})

60

#### Local parameters

In [329]:
eval('a+b+c',{'c':300},{'a':100,'b':200})

600

### File Handling

Reading, writing, deleting, creating of a file is called File handling.

open -- open()

read/write

close -- close()

MODES: (to select a file to perform only such operation)
1. r--read
2. w--write(Truncate)
3. a--append
4. r+ --read write
5. w+ --write read(Truncate)

#### create a file

1. write only

In [63]:
f=open('python.txt','w')
f.write('new beginning')
f.close()

2. read only

In [64]:
f=open('python.txt')
f.read()

'new beginning'

#### when we write in same file it gets replaced.in order to avoid it we use append. to add to existing file

3. append

In [65]:
f=open('python.txt','a')
f.write('\non the Path')
f.close()

In [66]:
f=open('python.txt')
f.read()

'new beginning\non the Path'

4. read/write - r+ - adds to existing file.

In [76]:
f=open('python2.txt','r+')
f.read()
f.write('r+mode\n')
f.close()

5. write/read - w+ - replaces existing file with new

In [75]:
f=open('python2.txt','w+')
f.write('w+mode\n')
f.read()
f.close()

### Regular Expression - RegEx
A regular expression is a sequence of characters that define a search pattern.

we can match and extract any string pattern from the text with the help of regular expressions

#### re

In [86]:
help(re.match)

Help on function match in module re:

match(pattern, string, flags=0)
    Try to apply the pattern at the start of the string, returning
    a Match object, or None if no match was found.

In [84]:
import re
p='delhi'
if re.match(p, 'delhi is best'):
    print('match')
else:
    print('no match')

match

In [85]:
import re
p='Delhi'
if re.match(p, 'delhi is best'):
    print('match')
else:
    print('no match')

no match

#### search

In [89]:
import re
pattern='Delhi'
if re.search(pattern, 'delhi is best'):
    print('match found')
else:
    print('no match found')

no match found

#### findall

In [90]:
re.findall(pattern,'delhi is best')

[]

In [91]:
re.findall(pattern,'Delhi is best')

['Delhi']

#### group

In [102]:
p='place'
pattern=re.search(p,'goa is best place to chill. goa')
print(pattern)
if pattern:
    print(pattern.group())
else:
    print('no match found')

<re.Match object; span=(12, 17), match='place'>
place

#### start

In [103]:
pattern.start()

12

#### end

In [104]:
pattern.end()

17

#### span

In [105]:
pattern.span()

(12, 17)

#### sub  - for substitution

In [115]:
import re

org_str= ' my name is vinay. call me vinay'
p='vinay'
string=re.sub(p,'kandregula',org_str)
print(string)

 my name is kandregula. call me kandregula

#### meta characters

1. dot

In [117]:
p='gr.y'
if re.match(p,'gray'):
    print(1)
if re.match(p,'graw'):
    print(2)
if re.match(p,'griy'):
    print(3)

1
3

In [119]:
p='gr...y'
if re.match(p,'grawwy'):
    print(1)
if re.match(p,'graw'):
    print(2)
if re.match(p,'griopy'):
    print(3)

1
3

2. start(^)

In [132]:
p='^g...'
if re.match(p,'gray'):
    print(1)
if re.match(p,'rawn'):
    print(2)
if re.match(p,'gropy'):
    print(3)

1
3

3. end($)

In [136]:
p='....y$'
if re.match(p,'gray'):
    print(1)
if re.match(p,'rawn'):
    print(2)
if re.match(p,'gropy'):
    print(3)

3

#### Character classes

In [137]:
import re
p='[aeiou]'
if re.search(p,'vinay'):
    print(1)
if re.search(p,'sujith'):
    print(2)
if re.search(p,'ywnpy'):
    print(3)

1
2

In [142]:
import re
p='[a-h]'
if re.search(p,'vinay'):
    print(1)
if re.search(p,'sujith'):
    print(2)
if re.search(p,'ywnpy'):
    print(3)

1
2

In [146]:
import re
p='[a-hA-N]'
if re.search(p,'vinay'):
    print(1)
if re.search(p,'sujith'):
    print(2)
if re.search(p,'ywNpy'):
    print(3)

1
2
3

In [149]:
import re
p='[0-9]'
if re.search(p,'vinay'):
    print(1)
if re.search(p,'sujith078'):
    print(2)
if re.search(p,'Teja'):
    print(3)

2

In [151]:
import re
p='^[0-9][a-z][A-Z]'
if re.search(p,'vinay'):
    print(1)
if re.search(p,'sujith078'):
    print(2)
if re.search(p,'Teja'):
    print(3)

inbuilt modules:

In [3]:
import math

In [4]:
math.factorial(5)

120

In [12]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so